<!DOCTYPE html>
<html>
  <head>
    <title>TopPage</title>
	<meta charset="utf-8">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
      <script src="/javascripts/jquery-2.1.1.min.js" type="text/javascript"></script>
      <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
      <script src="/javascripts/vis.js"></script>
      <link href="/stylesheets/vis.css" rel="stylesheet" type="text/css" />
		<style type="text/css">
			.panel-title{
				font-size: 24px;
				font-weight: bold;
			}
            .spys{
                list-style-type: none;
            }
            .spys li{
                float: left;
                margin: 10px 10px;
                width: 180px;
                height: 230px;
            }
            .spys li div strong{
                color: red;
            }

		</style>
  </head>
<body>
<div style="margin:50px auto;width: 900px;">
    <div class="panel panel-default" >
        <div class="panel-heading" style="height: 40px;">
                    <div style="text-align: left">
                        <span style="font-size:20px; font-weight:bold;">Dash Board</span>
                        <div style="float: right;">
                            <!--<a class="btn  btn-xs btn-success" href="addcommodity" style="margin-right: 35px;">添加商品</a>-->
                            <!--<a class="btn  btn-xs btn-success" href="cart" style="margin-right: 35px;">购物车</a>-->
                            <a class="btn btn-xs btn-info" href="logout">Exit</a>
                        </div>
                    </div>
                </div>
        <div class="panel-body">
            <label>Article Id : </label><input class="form-control" value=<%= defaultID %> id="ArticleID" placeholder="1727" style="IME-MODE: disabled; onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="10" name="collect" type="text" />
            <br/>
            <input class="btn btn-default btn-block" type="button" onclick="collectComments()" value="Collect Comments" />
            <input class="btn btn-default btn-block" type="button" onclick="asyncCollectComments()" value="Async Collect Comments" />
            <input class="btn btn-default btn-block" type="button" onclick="chart()" value="Chart" />
            <input class="btn btn-default btn-block" type="button" onclick="getComments()" value="Comments Informations" />
            <input class="btn btn-default btn-block" type="button" onclick="deleteStoreData()" value="Delete Comments By Store ID" />
            <a class="btn btn-default btn-block"  href="/api?action=clear">Clear</a>
        </div>
        <div class="panel-body">
            <div><%= spiderMessage %></div>
        </div>


        <script type="text/javascript">
            function collectComments()
            {
                var ArticleID = document.getElementById("ArticleID").value;
                window.location.href="/api?action=collectComments&id="+ArticleID;
            }
            function asyncCollectComments()
            {
                var ArticleID = document.getElementById("ArticleID").value;
                window.location.href="/api?action=asyncCollectComments&id="+ArticleID;
            }
            function chart()
            {
                var ArticleID = document.getElementById("ArticleID").value;
                window.location.href="/api?action=chart&id="+ArticleID;
            }
            function getComments()
            {
                var ArticleID = document.getElementById("ArticleID").value;
                window.location.href="/api?action=getComments&id="+ArticleID;
            }
            function deleteStoreData()
            {
                var ArticleID = document.getElementById("ArticleID").value;
                window.location.href="/api?action=deleteStoreData&id="+ArticleID;
            }
        </script>

        <%if (flag==true) { %>
        <div id="visualization"></div>

        <script type="text/javascript">
            var container = document.getElementById('visualization');
            var items = <%- JSON.stringify(items); %>;

            var dataset = new vis.DataSet(items);
            var options = {
                moveable: false,
                showCurrentTime: false,
                drawPoints: { style: 'circle' },
                interpolation: false,
                dataAxis: { showMinorLabels: false, },
            };
            var Graph2d = new vis.Graph2d(container, dataset, options);
        </script>
        <% } %>
        <!--
        <div class="panel-body">
            <ul class="spys" >
                <%for(var i in Commoditys){ if(!Commoditys[i].name)continue;%>
                    <li class="spys li">
                        <div >
                            <img width="80" height="100"  src="/images/<%=Commoditys[i].imgSrc%>">
                        </div>
                        <div >
                            <a ><%=Commoditys[i].name%></a>
                            <strong style="color:red;" >￥<%=Commoditys[i].price%></strong>
                        </div>
                        <div >
                            <a class="btn btn-success" style="width: 120px;"  href="/addToCart/<%=Commoditys[i]._id%>">加入购物车</a>
                        </div>
                    </li>
                <%}%>
            </ul>
        </div>
        -->
    </div>
</div>
</body>
</html>


